/*page 1*/
*{
	margin: 0;
	
	}
nav{
	padding: 15px;
	background:grey;
}
nav a{
	padding: 20px;
	text-decoration: none;
	font: 1em sans-serif;
	font-size: x-large;
	margin: 10px 0;

}
.container h1, h2, p{
	padding: 10px;
	margin: 10px 0;
	font-size: larger;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	color:blue;
	
}
.fill-in input, select{
	width: 30%;
	text-align: center;
	margin: 15px auto;
	padding: 10px;
	display: block;
	border-radius: 20px;
	border: 2px solid;
}
.container{
	background-image: url(buddy/4459.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
}
.ending{
	text-align: center;
	padding:20px ;
	margin: 0px auto;
	background-color: gray;
	
}
.ending a, h4{
	padding: 7px;
	margin: 5px 0;
	font-size: larger;
}

/* page 2*/
.page2{
	background:lightgoldenrodyellow;
}
.courses{
	text-align: left;
}
.button{
	border: 5px solid;
	padding: 10px;
	text-decoration: none;
    margin: 15px auto ;
	cursor: pointer;
    display: block;
	text-align: center;
	width: 10%;
	color: black;
	border-radius: 20px;
	background: white;
}
.content-card{
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 50px 30px;
}
.card-content{
	flex-basis: 50%;
	max-width: 50%;
	box-shadow: 0 4px 8px;
	border-radius: 0px;
	overflow: hidden;
	width: 50%;
}
.course{
	color: black;
	font-size: larger;
	text-align: center;
}
/*page 3*/
.page3{
	background: lightgoldenrodyellow;
}
.wallpaper{
	width: 100%;
	display: flex;
}
.right, .left{
	width: 50%;
	}
	.right img{
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.left{
		background: burlywood;
	}
.left input{
	margin: 20px auto;
	display: block;
	border-radius: 12px;
	padding: 15px;
	width: 50%;
	border: 2px solid;
	text-align: center;

}
.fill-button{
	text-align: center;
	text-decoration: none;
	border: 3px solid;
	width: 10%;
	display: block;
	margin: 0px auto;
	border-radius: 12px;
	
}
.second{
    width: 50%;
    display: block;
    text-align: center;
    margin: 0px auto;
	
}
.word{
    margin: 20px auto;
}
/*page4*/
.page4{
	background: lightgoldenrodyellow;
}
.content-card2{
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 30px 10px;
	
	width: 100%;
	margin: 0 auto;
}
.card{
	
	flex-basis: 18%;
	box-shadow: none;
	border-radius: 10px;
	overflow: hidden;
	width: 15%;
	border: 3px solid;
	
}
.card img{
	width: 100%;
	max-height: 250px;
	object-fit: cover;
	display: block;
}
.card2-content{
	padding: 10px;
	width: 100%;
	max-width: 100%;
	max-height: 250px;
	
	

}

	


	
	




